*

{

  padding :0;

  margin :0;

  box-sizing: border-box;

}

body 

{

  font-size: 15pt;

  width: min(100%,480px);

  height :100vh;

}

.container 

{

 width: min(100%,480px);

 height:min(88%,88%);

 margin:0 auto 0 ;

 display:flex;

 align-items :center ;

 justify-content :flex-start ;

 flex-direction :column ;

 padding :10px ;

 overflow :auto;

 position:relative ;

 word-wrap: wrap;

}

.container  span 

{

  position :absolute ;

}

.note__ 

{

  width:min(100%,100%);

  height :auto ;

  text-align: left ;

  background : #FFFFFF;

  margin :10px auto 0 ;

  box-shadow :0 0 7px rgba(3,3,3,.3);

  text-overflow :ellipsis ;

}

.note__.remove 

{

  display :none ;

  transition :height .2s ease-in-out ;

}

.note__  .date__ 

{

  width :100%;

  height:25px;

  background : #C04660;

  border-radius : 0 0 5px 5px;

}

.note__ .date__ h5 

{

  color: #FFFFFF ;

  line-height :2;

  font-weight :300 ;

  font-size :.6em;

  padding-left: 10px;

  font-family: 'Varela Round', sans-serif;

}

.note__   .text__ 

{

  width :100%;

  height :auto;

}

.text__  p 

{

  word-wrap: break-word;

  padding :10px ;

  font-family: 'Varela Round', sans-serif;

}

.enterNote__ 

{

  position :fixed ;

  bottom :0;

  width: min(100%,480px);

  display:flex ;

  justify-content :center ;

  align-items :center ;

  padding :15px ;

  background :#FFFFFF ;

  z-index :30 ;

  box-shadow :0 0 10px rgba(3,3,3,.5);

}

.enterNote__ input 

{

  flex-grow: 2;

  outline: none ;

  padding :10px;

  border :1px solid green ;

  font-size :1em ;

  word-wrap: break-word;

  font-family: 'Varela Round', sans-serif;

}

.enterNote__  button 

{

  flex-grow :1 ;

  padding :15px;

  margin :5px ;

  background : #034D4D;

  color :#FFFFFF ;

  font-weight :700 ;
  outline :none ;

  border :1px solid #F1F1F1 ;

  border-radius :5px;

 font-family: 'Varela Round', sans-serif;

}

