*
{
  margin: 0;
  padding :0;
  box-sizing: border-box;
}




body {
    font-size: 15pt;
    height :100vh;
    width :min(100%,480px);
    transition :all  .2s ease-in-out ;
    font-family: 'Varela Round', sans-serif;
    background:#3A3E59 ;
}

header
{
  position: fixed ;
  top: 0;
  width :min(100%,480px);
  z-index :10 ;
  background:#3A3E59 ;
  display :flex ;
  justify-content :center ;
  align-items :flex-start ;
  flex-direction :column ;
  padding :20px ;
  border-bottom :1px solid rgba(188,196,200,.1) ;
}

header h1 
{
  font-size :1em ;
  color: #BCC4C8;
  padding :10px ;
}

.feedback_message
{
  width:min(80%,480px);
  height: 45px ;
  text-align :center ;
  position: absolute ;
  top: -100%;
  left:10%;
  display: flex;
  justify-content :center ;
  align-items :center ;
  z-index :20;
  background :rgba(89,184,157,1);
  padding :5px ;
  border-radius :10px ;
  transition : top  0.5s cubic-bezier(0.19, 1, 0.22, 1);

}

.feedback_message.active 
{
  top: 10%;
  transition : top  0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.feedback_message p 
{
  color: #FFFFFF ;
  font-weight :700 ;
}

.enter_bar
{
  width :100%;
  text-align :center ;
  margin :5px auto 0 ;
  position :relative ;
}
.enter_bar input 
{
  width: 98%;
  padding :15px ;
  border-radius :9999px ;
  background:#22303C;
  outline :none ;
  border :1px solid transparent ;
  font-family: 'Varela Round', sans-serif;
  font-size :1em ;
  color: #FFFFFF ;
}

.enter_bar button 
{
  position: absolute ;
  right :3%;
  top: 15%;
  display :inline-block ;
  width :40px;
  height :40px;
  border-radius :50%;
  background :#FFFFFF ;
  border :1px solid #F1F1F1 ;
  outline :none ;
}



.container 
{
 width :min(100%,480px);
 margin: 40% auto 0 ;
 text-align :left ;
}

.container h2 
{
  font-size :.7em ;
  padding :10px ;
  color: rgba(188,196,200,.5) ;
}

.container  .cards_wrapper 
{
  width :100%;
  display: flex;
  justify-content :center ;
  align-items :center ;
  flex-wrap :wrap ;
  padding :10px ;
}

.cards_wrapper .card 
{
  width :100%;
  height :auto;
  min-height:95px;
  background:rgba(220,218, 224,.1);
  margin :15px auto 0 ;
  color: #FFFFFF ;
  display:flex ;
  justify-content :space-between ;
  align-items :center ;
  position :relative ;
  padding :10px ;
  border-radius :10px ;
}

.card.completed 
{
  display: none ;
}



.card .right_side 
{
  position :relative ;
  width:20%;
}

.card .right_side button 
{
  outline: none ;
  background: transparent ;
  color :#BCC4C8;
  border :1px solid transparent ;
}
.card .todo 
{
  width :90%;
  padding :15px ;
  text-align :left ;
  text-transform :capitalize ;
}

.card .todo.editable 
{
   outline: 1px groove rgba(188,196,200,.5) ;
}

.card .left_side 
{
  width :8%;
  
}
.card .left_side button 
{
  outline: none;
  background: transparent;
  color :#BCC4C8;
  border :1px solid transparent;
}


.card .data_wrapper 
{
  position :absolute;
  bottom: 0;
  right :0;
  font-size :.5em;
  padding :5px ;
}


.Todo_completed_container 
{
  margin: 40% auto 0 ;
  width:min(100%,480px );
}


.Todo_completed_container h3 
{
font-size :.7em;
  padding :10px;
  color: rgba(188, 196, 200, .5);
}

.Todo_completed_wrapper
{
  width :100%;
  display: flex;
  justify-content :center;
  align-items :center;
  flex-wrap :wrap;
  padding :10px;
}

.Todo_completed_wrapper .card 
{
  width :100%;
  height :auto;
  min-height:95px;
  background:rgba(220, 218, 224, .1);
  margin :15px auto 0;
  color: #FFFFFF;
  display:flex;
  justify-content :space-between;
  align-items :center;
  position :relative;
  padding :10px;
  border-radius :10px;
  opacity:.3;
}
